body {
    font-family: 'Mulish', sans-serif;
}
.main-content {
    width: 500px;
    height: 500px;
    background-color: seagreen;
    margin: 10px auto;
}
.display-card {
    margin: 0 auto;
    width: 400px;
    height: 650px;
    background-color:white;
    border-radius: 10px;
}
.desc {
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
}
.day, .header {
    text-align: center;
}
.info {
    width: 100%;
    margin: 0 auto;
}
.info tr td {
    text-align: center;
}
